<!DOCTYPE html>
<html>

<head>
  <title>Gameof5</title>
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- load Angular 1.6.5 -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src="js/jspdf135.js"></script>

  <!-- Angularjs custom code -->
  <script src="js/studentapp.js"></script>
    
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    
  <!-- Chart and Angular chart -->
  <link href="js/chartjs/Chart.css" rel="stylesheet">
  <script src="js/chartjs/Chart.js"></script>
  <script src="js/chartjs/Chartbundle.js"></script>
  <script src="js/angular-chart.min.js"></script>
  
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBVtxn_jTK6QSvvUrGLWRnuTO1Y1YAOWEA",
      authDomain: "gameof5-4e8a1.firebaseapp.com",
      databaseURL: "https://gameof5-4e8a1.firebaseio.com/",
      projectId: "gameof5-4e8a1",
      storageBucket: "",
      messagingSenderId: ""
    };
    firebase.initializeApp(config);
  </script>
    
  <style>
         
      .material-icons{
        display: inline-flex;
        vertical-align: top;
      }
      .sidenav-header {
          background-color: blue;
          padding: 10px;
      }
      table, tr, td {
          padding: 0px;
      }

      .modal { width: 70% !important ; height: 70% !important ; }
	  
      .mycardcontent {
            height: 120px; 
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 20px;
      }
      
      input[type=range]::-webkit-slider-thumb {
        background-color: blue;
      }
      input[type=range]::-moz-range-thumb {
        background-color: blue;
      }
      input[type=range]::-ms-thumb {
        background-color: blue;
      }

      /***** These are to edit the thumb and the text inside the thumb *****/
      input[type=range] + .thumb {
        background-color: blue;
      }
      input[type=range] + .thumb.active .value {
        color: white;
      }
      
      .collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li 
        {

          border: 0!important;
          box-shadow: none!important;

        }
      
      /* label focus color */
     .input-field input:focus + label {
       color: blue !important;
     }
      
       /* icon prefix focus color */
       .input-field .prefix.active {
         color: blue;
       }
      
     /* label underline focus color */
     .input-field input:focus {
       border-bottom: 1px solid blue !important;
       
       
     }
      
 
          
  </style>
     
</head>

<!-- local testing ... -->
<!-- cd to Documents/gameof5 -->
<!-- python -m SimpleHTTPServer -->

<body ng-app="studentpages">

  <!-- logo -->
  <div id="g5header" align="center"><img width="200px" src="images/header.svg"/></div>
  <div class="container">
      
    <nav class="z-depth-0 white">
        <div class="nav-wrapper black-text">
          <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large top">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="10px" width="50px" height="50px" style="padding-top: 10px;" viewBox="0 0 800 800">
                <path fill="#000" d="M590.7,572.6H209.5c-14.8,0-26.8-12-26.8-26.8c0-14.8,12-26.8,26.8-26.8h381.1c14.8,0,26.8,12,26.8,26.8
                        C617.5,560.7,605.6,572.6,590.7,572.6z"/>
                <path fill="#000" d="M590.7,279.1H209.5c-14.8,0-26.8-12-26.8-26.8s12-26.8,26.8-26.8h381.1c14.8,0,26.8,12,26.8,26.8
                        C617.5,267,605.6,279.1,590.7,279.1z"/>
                <path fill="#000" d="M590.7,422.9H209.5c-14.8,0-26.8-12-26.8-26.8c0-14.8,12-26.8,26.8-26.8h381.1c14.8,0,26.8,12,26.8,26.8
                        C617.5,410.9,605.6,422.9,590.7,422.9z"/>
              </svg>
          </a>
          <b>Lessons/Leaders</b>
	      <span class="right"> <b>{{user.name}}</b></span>

          <ul class="side-nav grey" id="mobile-demo">
            <li class="sidenav-header blue">
              <div class="row">
                <div class="col s4">
                    <img ng-src="{{user.photoUrl}}" class="circle" width="50px">
                </div>
                <div class="col s8" style="vertical-align:middle;">
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown">{{user.name}}</a>
                    <ul id="profile-dropdown" class="dropdown-content white-text">
                        <li><a href="#modalprofile" class="modal-action modal-trigger">Profile</a></li>
                        <li><a href="https://gameof5.com" target="_blank">Help</a></li>
                    </ul>
                </div>
              </div>
            </li>

           <li class="blue">
              <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header white-text waves-effect waves-blue">Lessons</a>
                                          
                    <div class="collapsible-body z-depth-3">
                        
                      <div class="container">
  							Keyword Search:
  							<input type="text" class="search" id="basic-url" ng-model="searchString">
                      </div>

                        <div class="collection black-text">
                            <div ng-repeat="item in readonly.lessons | searchFor:searchString" style="border-style: solid;border-width: .35px; border-color: grey;">
                            <a href="#modallesson" data={{item.id}} id='data{{$index}}' class="collection-item modal-action modal-trigger" ng-click="setData(item.id)" ng-show="item.show">
                               <table style="padding: 0px !important; margin: 0px !important;">
                                <tr align="left">
                                    <td width="60px" style="padding: 0px !important; vertical-align:top;">
                                        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" ng-style="!item.show && {opacity: .5};">
                                            <circle id="0" stroke-width="3" stroke="#2196f3" fill="{{avgComments[item.id]['color']}}" r="25" cy="29.9375" cx="30"/>
                                            
                                            <text ng-if="(readonly.lessons.length - $index) < 10" x="40%" y="65%" fill="white" font-size="20">{{readonly.lessons.length - $index}}</text>
                                            <text ng-if="(readonly.lessons.length - $index) > 9" x="30%" y="65%" fill="white" font-size="20">{{readonly.lessons.length - $index}}</text>
                                            
                                            <title>{{avgComments[item.id]['tip']}}</title>
                                        </svg>
                                    </td>
                                    <td width="90%" style="padding-left: 10px; padding-top: 0px !important; padding-bottom: 0px !important; vertical-align:top;">
                                         <p ng-style="!item.show && {opacity: .5};"><b>{{item.unit + '-' + item.name}}</b>
                                        </p>
                                    </td>
                                    <td align="right">
                                        <span class="chip blue white-text" ng-show="avgComments[item.id] != undefined">{{avgComments[item.id]['number']}}</span>
                                    </td>
                                </tr>
                               </table>     
                            </a>

                             <div id='data{{$index}}' class="collection-item" ng-show="!item.show && readonly.settings.show">
                               <table style="padding: 0px !important; margin: 0px !important;">
                                <tr align="left">
                                    <td width="60px" style="padding: 0px !important; vertical-align:top;">
                                        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" ng-style="!item.show && {opacity: .5};">
                                            <circle id="0" stroke-width="3" stroke="#2196f3" fill="#8bc34a" r="25" cy="29.9375" cx="30"/>
                                            
                                            <text ng-if="(readonly.lessons.length - $index) < 10" x="40%" y="65%" fill="white" font-size="20">{{readonly.lessons.length - $index}}</text>
                                            <text ng-if="(readonly.lessons.length - $index) > 9" x="30%" y="65%" fill="white" font-size="20">{{readonly.lessons.length - $index}}</text>
                                        </svg>
                                    </td>
                                    <td style="padding-left: 10px; padding-top: 0px !important; padding-bottom: 0px !important; vertical-align:top;">
                                         <p ng-style="!item.show && {opacity: .5};"><b>{{item.unit + '-' + item.name}}</b>
                                        </p>
                                    </td>
                                    
                                </tr>
                               </table>     
                            </div>
                        </div> 
                    </div>
                  </li>
              </ul>
            </li>

	    <li class="light-green" ng-show="listArray.length > 0">
              <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header white-text waves-effect waves-light-green">Leaders</a>
                    <div class="collapsible-body z-depth-3">
                       <ul class="collection">
                          <li class="collection-item avatar" ng-repeat="cur_user in listArray">
                            <br>
                            <img ng-show="cur_user.photoUrl.indexOf('/mo/') <0" ng-src='{{cur_user.photoUrl}}' alt="{{cur_user.name}}" height='50px' class="circle" onerror="this.src='images/tyler-durden.jpg'">
                            <img ng-show="cur_user.photoUrl.indexOf('/mo/') >0" ng-src='images/tyler-durden.jpg' alt="{{cur_user.name}}" height='50px' class="circle" onerror="this.src='images/tyler-durden.jpg'">
                            <span class="title">{{cur_user.name}}</span><br>
                            <span class="title">{{cur_user.pointstotal}}</span>
                          </li>
                      </ul>

                    </div>
                  </li>
              </ul>
            </li>
	
            <div style="background-color: white; color: dodgerblue; padding: 15px">
                 <h6>gameof5</h6>
                 <p style="line-height: normal; color: black;">Is a web app that allows teachers to digitally store, structure, present, and gamify their lessons.</p> 
            </div>

            <li class="sidenav-footer grey darken-2">
              <div class="row">  
              </div>
            </li>
          </ul>

        </div>
      </nav> 
    
    <div class="row">
        
      <div class="col s12 m6 l4">
         <div class="card animate fadeRight">
            <div class="mycardcontent orange lighten-1">
               <div height="250px">
                   <table>
                       <tr>    
                           <td height="15px"></td>
                       </tr>
                       <tr>
                           <td height="15px">
                              <a href="#modalprofile" class="modal-action modal-trigger"><img ng-src="{{user.photoUrl}}" width="60px" style="border-style: solid; border-color: white; border-width: 3px;"></a>
                           </td>
                           <td>
                              <h4 style="margin:0px;"><a href="#modallevels" style="color: white; text-decoration: underline;" class="modal-action modal-trigger center">{{user.level.name}}</a></h4>
                              
                               <span style="color: white;" ng-show="user.pointstotal > user.avgpoints">
                               <b>{{user.pointstotal}}</b> points! <b> (+ {{user.pointstotal - user.avgpoints}}</b> avg)</span>
				<span style="color: white;" ng-show="user.pointstotal == user.avgpoints">
                                   <b>{{user.pointstotal}}</b> points! <b>(average)</b></span>
                               <span style="color: white;" ng-show="user.pointstotal < user.avgpoints">
                               <b>{{user.pointstotal}}</b> points! <b> (- {{user.avgpoints - user.pointstotal}}</b> avg)</span>
                           </td>
                      </tr>
                   </table>
               </div>
            </div>
              <div class="mycardcontent orange">
               <div height="250px">
                   <table>
                       <tr>
                           <td height="15px"></td>
                           <h6 style="color: white; padding-bottom: 10px"><a href="#modalbadges" style="color: white; text-decoration: underline;" class="modal-action modal-trigger">Badges</a> (Earn 3x mentions = badge)</h6>
                      </tr>
                      <tr>
                           <span ng-repeat="(key, value) in user.badges">
                            <span ng-repeat="badge in readonly.badges" ng-show="readonly.badges[$index].id == key">
                            <img ng-src="images/badges/{{key}}.svg" title="{{badge.name}}" ng-show="value >= 3" class="circle white" width="40px"/>
                            </span>
                           </span>
                       </tr>
                   </table>
               </div>
            </div>
         </div>
        </div>

        <!--<div class="col s12 m6 l4">
         <div class="card animate fadeRight">
            <div class="mycardcontent orange lighten-1 white-text">
               <p class="card-stats-title">Level</p>
               <h4 class="card-stats-number white-text">{{user.level.name}} ({{user.pointstotal}})</h4>
            </div>
            <div class="mycardcontent orange">
               <div height="250px">
                   <h6 style="color: white;">{{user.level.desc}}</h6>
                   <table>
                       <tr>
                           
                           <td height="15px"></td>
                       </tr>
                       <tr>
                           <td>
                               <span style="color: white;" ng-show="user.pointstotal > user.avgpoints"><b>+ {{user.pointstotal - user.avgpoints}}</b> above average</span>

                               <span style="color: white;" ng-show="user.pointstotal < user.avgpoints"><b>- {{user.avgpoints - user.pointstotal}}</b> below average</span>
                            </td> 
                           <td>
                               <a href="#modallevels" style="color: white; text-decoration: underline;" class="modal-action modal-trigger right">Levels</a>
                           </td>
                       </tr>
                   </table>
               </div>
            </div>
         </div>
        </div>-->
        
        <div class="col s12 m6 l4">
         <div class="card animate fadeRight">
            <div class="mycardcontent green lighten-1 white-text">
               <p class="card-stats-title">Daily XP</p>
               <h4 class="card-stats-number white-text">{{user.dailytotal}}</h4>
            </div>
            <div class="mycardcontent green">
               <div class="center-align">
                    <canvas id="dailybar" height="100%" class="chart chart-bar" chart-series="dailyseries" chart-data="dailydata" chart-options="dailyoptions" chart-labels="dailylabels" chart-colors="dailyColorBar">
                    </canvas> 
               </div>
            </div>
         </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card animate fadeLeft">
                <div class="mycardcontent cyan white-text">
                    <p class="card-stats-title">{{readonly.settings.quizname}}</p>
                    <h4 class="card-stats-number white-text">{{user.quiztotal}}</h4>
                </div>
            <div class="mycardcontent cyan darken-1">
               <div class="center-align">
                    <canvas id="quizbar" height="100%" class="chart chart-bar" chart-series="quizseries" chart-data="quizdata" chart-options="quizoptions" chart-labels="quizlabels" chart-colors="quizColorBar">
                    </canvas> 
               </div>
            </div>
         </div>
       </div>  
    </div>
      
    <div class="row">
      <div class="col s12 m6">
              <ul class="collection with-header">
                <li class="collection-item cyan white-text">
                    <p>Top comments</p>
                </li>
		  <li class="collection-item avatar" ng-repeat="daily in readonly.daily" ng-show="user.daily[$index].desc != 'Normal day, nothing to report' && user.daily[$index].desc != null && user.daily[$index].grade != -99">
                  <img ng-src="images/badges/{{user.daily[$index].badge}}.svg" class="circle"/>
                  <table>
                  <tr>
                    <td><a href="#modallesson" class="modal-action modal-trigger" ng-click=setDataById(daily.id.id)>
                        {{daily.id.name}}
                    </a> <span ng-show="user.daily[$index].mydate != undefined"> ({{user.daily[$index].mydate}})</span></td>
                  </tr>
                  <tr>
                      <td width="95%">{{user.daily[$index].desc}}</td>
                      <td width="5%">
                        <div href="#!">
                          <p ng-show="user.daily[$index].grade == 4" class="chip orange white-text">{{user.daily[$index].grade}}</p>
                          <p ng-show="user.daily[$index].grade == 3" class="chip blue white-text">{{user.daily[$index].grade}}</p>
                          <p ng-show="user.daily[$index].grade == 2" class="chip pink lighten-2 white-text">{{user.daily[$index].grade}}</p>
                          <p ng-show="user.daily[$index].grade < 2" class="chip red white-text">{{user.daily[$index].grade}}</p>
                          
                        </div>       
                      </td>
                  </tr>

                  <tr style="padding-top: 10px;">
                          <td>
                              <a ng-click="$scope.showedit=!$scope.showedit"><i class="small material-icons" ng-show="comments[daily.id.id] == undefined">chat_bubble_outline</i><i class="small material-icons" ng-show="comments[daily.id.id] != undefined">chat</i><span style="text-decoration-line: underline; line-height:24px;">Comment</span>
                              </a>
                              <div ng-show="$scope.showedit">
                                <input class="TextBox" ng-model="comments[daily.id.id].comment" id="respond" + {{daily.id.id}} max=140/>
                                <button ng-click="test(comments[daily.id.id].comment, daily.id.id)">push</button>
                              </div>
                          </td>
                    </tr>
                  </table>    
                </li>
              </ul>
        </div>
    
                <!-- RECENTS -->
        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-item orange lighten-1 white-text">
                   <p>Recent Activity Feed</p>
                </li>
              
                <li class="collection-item avatar" ng-repeat="item in user.recents">
                  <div ng-show=item.type=="lesson">
                      <i class="large material-icons circle light-green">description</i>
                      <a href="#modallesson" class="modal-action modal-trigger" ng-click=setDataById(item.id)>
                      <span class="title">{{item.name}}</span></a>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.date}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.date}})</span>
                      </p>
                  </div>
                  <div ng-show=item.type=="daily">
                      <img ng-src="images/badges/{{item.badge}}.svg" class="circle">
                      <a href="#modallesson" class="modal-action modal-trigger" ng-click=setDataById(item.id)>
                      <span class="title">{{item.name}}</span></a>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.mydate}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.mydate}})</span>
                      </p>
                  </div>
                  <div ng-show=item.type=="quiz">
                      <i class="large material-icons circle blue">help</i>
                      <span class="title">{{item.name}}</span>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.date}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.date}})</span>
                      </p>
                  </div>
                </li>


            </ul>
        </div>
        
        <!--<div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-item green lighten-1 white-text">
                    <p><a href="#modalbadges" style="color: white; text-decoration: underline;" class="modal-action modal-trigger">Top skills</a></p>
                </li>
                    <li class="collection-item avatar" ng-repeat="(key, value) in user.badges">
                      <span ng-repeat="badge in readonly.badges" ng-show="readonly.badges[$index].id == key">
                      <img ng-src="images/badges/0.svg" title="{{badge.name}}" ng-show="value < 3" class="circle"/>
                      <img ng-src="images/badges/{{key}}.svg" title="{{badge.name}}" ng-show="value >= 3" class="circle"/>
                      <p class="title">{{badge.name}}</p>
                      <p ng-show="value >= 3" style='color: orange;'>You have earned the badge.</p>
                      <p ng-show="value < 3">Almost there. You need 3x to earn the badge.</p>
                      <div class="secondary-content">
                        <p class="chip blue white-text">{{value * badge.value}}</p>
                      </div>
                      </span>
                    </li>
            </ul>
        </div>-->

        
      </div> <!-- end row -->
        
</div> <!-- end container -->
    
  <!-- #Save Modal -->
  <div id="modalcheck" class="modal">
      <div class="modal-content">
        <h4>Save edits</h4>
        <p>You are about to save your edits back to the server.</p><p>This will overwrite your existing data. Are you sure you wish to do this?</p>
        
        <p ng-show="users != undefined">
          <input type="checkbox" id="usertotals"/>
          <label for="usertotals">Update and confirm users (this may take a minute)</label>
        </p>
 
        <div class="modal-footer">
          <a ng-click="save(document.getElementById('usertotals').checked)" class="modal-action modal-close btn-flat">Yes</a>
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat ">No</a>
        </div>
        
      </div>
  </div>
 	
  <!-- #Levels modal -->
  <div id="modallevels" class="modal">
      <div class="modal-content">
        
        <ul class="collection with-header">
            <li class="collection-header"><h4>Levels and Points</h4></li>
            <li class="collection-item" ng-repeat="level in readonly.levels">
                <span>{{level.name}}</span>
                <span class="secondary-content chip blue white-text">{{level.high}}</span>
            </li>
        </ul>
          
        <div class="modal-footer">
          <!--<a ng-click="clearmessage(); setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>-->
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
        </div>
        
      </div>
  </div>

  <!-- #Levels modal -->
  <div id="modalbadges" class="modal">
      <div class="modal-content">
        
        <ul class="collection with-header">
            <li class="collection-header"><h4>Badges and Points</h4></li>
            <li class="collection-item avatar" ng-repeat="badge in readonly.badges">
                <img src="images/badges/{{badge.id}}.svg" height='50px' class="circle" />
                <span class="title">{{badge.name}}</span><br>
                <span class="secondary-content chip blue white-text">{{badge.value}}</span>
            </li>
        </ul>
          
        <div class="modal-footer">
          <!--<a ng-click="clearmessage(); setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>-->
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
        </div>
        
      </div>
  </div>
    
  <!-- #Message Modal -->
  <div id="modalmessage" class="modal">
      <div class="modal-content">
        <h4>{{message.m1}}</h4>
        <h5>{{message.m3}}</h5>
        <p>{{message.m2}}</p>
          
        <div class="modal-footer">
          <!--<a ng-click="clearmessage(); setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>-->
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
        </div>
        
      </div>
  </div> 
       
  <div id="modalprofile" class="modal center">
      <div class="modal-content">
        <h4>{{user.name}}</h4>
        <img ng-src="{{user.photoUrl}}" width="200px" style="border-radius:50%;">
        <p>{{user.email}}</p>
        
        <div class="modal-footer">
          <!--<a ng-click="signout()" class="modal-action modal-close btn-flat">Sign out</a>-->
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
      </div>
  </div>
    
  <div id="modallesson" class="modal modal-fixed-footer center">
      <div class="modal-content">
          <div class="col s12">
              <div class="row">
                <div class="col s12">
                  <div class="card white darken-1">
                    <div class="card-content black-text">
                        <h2>{{lesson.name}}</h2> 
                        <h6>{{lesson.desc}}</h6>      
                        <div style="padding:30px;" ng-hide="lesson.keywords.length == 0 &&  lesson.expectations.length == 0">
                            <div title="keywords" class="chip blue white-text" ng-repeat="key in lesson.keywords">{{key}}</div>
                            <div title="curriculum expectations" class="chip orange white-text" ng-repeat="expectation in lesson.expectations">{{expectation}}</div>
                        </div>
                        
                        <ul class="collapsible">
                            <li>
                              <div class="collapsible-header"><i class="material-icons">expand_more</i><span style="text-decoration: underline; color: blue;">Rate this lesson</span></div>
                              <div class="collapsible-body">
        
                                  <div class="card white darken-1" style="padding-top: 15px;">
                            <div class="card-content black-text">
                                <span class="card-title">Comment and ranking</span>
                                <div class="input-field">
                                  <i class="material-icons prefix">chat</i>
                                  <input id="icon_prefix" type="text" max=140 ng-model="lcomments[lesson.id][user.uid].comment" id="respond" + {{lesson.id}}>
                                </div>

                                <div class="input-field">
                                  <i class="material-icons prefix">rate_review</i>
                                  <input type="range" id="rate" ng-model="lcomments[lesson.id][user.uid].clarity" min="0" max="5" ng-change="getColor(lesson.id)" value="3"/>
                                  <p id="sliderinfo">Somewhat clear, I would benefit from quick review.</p>
                                </div>
                                
                                <div class="input-field" ng-show="readonly.settings.hlink">
                                  <i class="material-icons prefix">insert_link</i>
                                  <input id="hlink" type="text" max=140 ng-model="lcomments[lesson.id][user.uid].hlink" id="hlink">
                                </div>

                            </div>
                            <div class="card-action">
                                  <button class="button light-green waves-light btn" ng-click="test2(lesson.id)" ng-disabled="lcomments[lesson.id][user.uid].comment == undefined">submit</button>
                            </div>
                                      
                            
                        </div>
                    </div>
                </li>
              </ul>
                       
                <ul class="collapsible" ng-show="readonly.settings.lcomments && lcomments != null">
                            <li>
                              <div class="collapsible-header"><i class="material-icons">expand_more</i><span style="text-decoration: underline; color: blue;">View comments</span></div>
                              <div class="collapsible-body">
                                <div class="collection">
                                    <div class="collection-item avatar" ng-repeat="(key, value) in lcomments[lesson.id]" style="text-align: left;">
                                        <img src="{{users[key].photoUrl}}" class="circle">
                                        <span><b>{{users[key].name}}</b> ({{users[key].email}})</span>
                                          <p style="width: 85%;">{{value.comment}}<br>
                                             <a href="{{value.hlink}}" ng-show="readonly.settings.hlink && value.hlink != undefined" target="_blank">more info...</a>
                                          </p>
                                          <span class="secondary-content chip blue white-text">{{value.clarity}}</span>
                                    </div>
                                </div>
                              </div>
                        </li>
                      </ul>
                        
                    </div>
                    
                  </div>
                </div>
              </div>  
         
            <div class="row">
                <div class="col s12">
                  <div class="card white darken-1">
                    <div class="card-content black-text">
                      <h3>Lesson Progession</h3>           
                        <div class="collection">
                            <div class="collection-item" ng-repeat="item in lesson.segments.slice().reverse()">
                                <h5 ng-show="item.seglink == ''">{{item.title}}</h5>
                                <a href="{{item.seglink}}" target="_blank">
                                    <h5 ng-show="item.seglink != ''">{{item.title}}</h5>
                                </a>
                                <p ng-bind-html="item.text" ng-show="item.text !=''"></p><br>
                                <img ng-src="{{item.segimg}}" ng-show="item.segimg !=''" width="100%">
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
                  
    </div>
  </div>
  <div class="modal-footer">
      <a ng-click="setUrl()" class="modal-action modal-close waves-effect waves-green btn-flat" >Dismiss</a>
  </div>
</div>
	
</body>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script src="js/materialize.min.js"></script>

<script>

  var o_url = window.location.href;
    
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  	$('.modal').modal({dismissible: false});
                               
	$('.tooltipped').tooltip({delay: 50});
  });
        
     
  function setUrl() {
      console.log(o_url);
      //location.href = o_url;
      window.location.assign(o_url);
      //alert("previous url is: " + window.history.previous.href);
  }

  // disable back button, so users do not leave one page app and get confused
  history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    
  // side nav  
  $(document).ready(function(){
    $('.button-collapse').sideNav({
          menuWidth: 400, // Default is 300
          edge: 'right', // Choose the horizontal origin
          closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
    }
  );
      
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
      
  // START OPEN
  $('.button-collapse').sideNav('show');
  });


</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>
