<!DOCTYPE html>
<html>

<head>
  <title>Gameof5</title>
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.min.css">

  <!-- load Angular 1.6.5 -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src="js/jspdf135.js"></script>
    
  <!-- Chart and Angular chart -->
  <link href="js/chartjs/Chart.css" rel="stylesheet">
  <script src="js/chartjs/Chart.js"></script>
  <script src="js/chartjs/Chartbundle.js"></script>
  <script src="js/angular-chart.min.js"></script>

  <script src="js/teacherapp.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBVtxn_jTK6QSvvUrGLWRnuTO1Y1YAOWEA",
      authDomain: "gameof5-4e8a1.firebaseapp.com",
      databaseURL: "https://gameof5-4e8a1.firebaseio.com/",
      projectId: "gameof5-4e8a1",
      storageBucket: "",
      messagingSenderId: ""
    };
    firebase.initializeApp(config);
  </script>
</head>

<!-- local testing ... -->
<!-- cd to Documents/gameof5 -->
<!-- php -S localhost:8000 -->
<!-- python -m SimpleHTTPServer -->

<body ng-app="teacherpages">

  <!-- logo -->
  <div id="g5header" align="center"><img width="200px" src="images/header.svg"/></div>
  <div class="container">
    <div ng-include="navPath" style="width:100%"></div> <!-- removed row to move tools down -->
    <hr style='color: #2196f3; background-color: #2196f3; height: 3px; width: 100%; padding-bottom: 0px;'>
  	<div ng-include="filePath" onload="finishLoading()"></div>
    <hr style='color: #2196f3; background-color: #2196f3; height: 3px; width: 100%;'>
    <div id="g5footer"></div>
    <!-- container -->
  </div>

  <!-- #Teacher Apply Modal -->
  <div id="modalschool" class="modal">
      <div class="modal-content">
        <h4>Welcome Teacher!</h4>
        <p>Thanks for trying out gameof5. You are automatically approved and can start creating your courses now.</p>
        <p>Remember, nothing will be saved to the server until you click the save button.</p>
        <p>If you are a student, please ask your teacher to share your course link with you :-)</p>
        
        <div class="modal-footer">
          <a onclick="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
        </div>
      </div>
  </div>

   <!-- #upload Modal -->
  <div id="modalupload" class="modal center">
      <div class="modal-content">
        <h4>Upload badges data</h4>
        <p>You are about upload data to the server.</p><p>This will overwrite your existing data. If data format is incorrect there may be errors.</p>
		
		<textarea name="upbadge" id='myupbadge' rows="30" cols="30">
		Upload your JSON data here.
		</textarea>
		
        <div class="modal-footer">
          <a ng-click="uploadData('badge')" class="modal-action modal-close btn-flat">Upload</a>
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
      </div>
  </div>
  
  <!-- #uplevel Modal -->
  <div id="modaluplevel" class="modal center">
      <div class="modal-content">
        <h4>Upload levels data</h4>
        <p>You are about to upload data to the server.</p><p>This will overwrite your existing data. If data format is incorrect there may be errors.</p>
		
		<textarea name="uplevel" id='myuplevel' rows="30" cols="30">
		Upload your JSON data here.
		</textarea>
		
        <div class="modal-footer">
          <a ng-click="uploadData('level')" class="modal-action modal-close btn-flat">Upload</a>
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
      </div>
  </div>
	
  <!-- #Save Modal -->
  <div id="modalcheck" class="modal">
      <div class="modal-content">
        <h4>Save edits</h4>
        <p>You are about to save your edits back to the server.</p><p>This will overwrite your existing data. Are you sure you wish to do this?</p>
        
        <!--
        <p ng-show="cdata.users != undefined">
          <input type="checkbox" id="usertotals"/>
          <label for="usertotals">Update and confirm users (this may take a minute)</label>
        </p>
        -->
 
        <div class="modal-footer">
          <a ng-click="save(document.getElementById('usertotals').checked)" class="modal-action modal-close btn-flat">Yes</a>
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat ">No</a>
        </div>
        
      </div>
  </div>
 
  <!-- #view daily info Modal -->    
  <div id="modaltable" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Selected data</h4>
      <div id="tablediv"></div>
    </div>
    <div class="modal-footer">
      <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
    </div>
  </div>
	
  <!-- #Message Modal -->
  <div id="modalmessage" class="modal">
      <div class="modal-content">
        <h4>{{user.message.m1}}</h4>
        <h5>{{user.message.m3}}</h5>
        <p>{{user.message.m2}}</p>
        
        <div class="modal-footer">
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Thanks</a>
        </div>
        
      </div>
  </div> 
    
  <!-- #Save settings Modal -->
  <div id="modalcheck" class="modal">
      <div class="modal-content">
        <h4>Save edits</h4>
        <p>You are about to save your edits back to the server.</p><p>This will overwrite your existing settings. Are you sure you wish to do this?</p>
        
        <div class="modal-footer">
          <a ng-click="savesettings()" class="modal-action modal-close btn-flat">Yes</a>
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
        
      </div>
  </div>    
    
  <div id="modalprofile" class="modal center">
      <div class="modal-content">
        <h4>{{name}}</h4>
        <img ng-src="{{photoUrl}}" width="200px" style="border-radius:50%;">
        <p>{{email}}</p>
        
        <div class="modal-footer">
          <a ng-click="signout()" class="modal-action modal-close btn-flat">Sign out</a>
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
      </div>
  </div>
	
  <style>
    .svg-share:hover ellipse {
      stroke: #000;
      fill: #000;
    }
  </style>

    <div id="modaldownload" class="modal modal-fixed-footer">
      <div class="modal-content">

      	<h4>Backup your data
            <a href="" ng-click="helpToast('Copy and paste in a JSON validator for pretty views of your data.',5000,'black')">
              <svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
                <text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
              </svg>
           </a>
        </h4>

        <div class="collection">
            <a href="" class="collection-item" ng-click="showme = !showme">Admin</a>
              <div ng-show="showme" class="card horizontal z-depth-0" style="margin-bottom: 0px;">
                <div class="card-content">
                  <p>{{admin}}</p>
                </div>
              </div>
              <a href="" class="collection-item" ng-click="showme1 = !showme1">Lessons</a>
              <div ng-show="showme1" class="card horizontal z-depth-0" style="margin-bottom: 0px;">
                <div class="card-content">
                  <p>{{cdata.readonly.lessons}}</p>
                </div>
              </div>
              <a href="" class="collection-item" ng-click="showme2 = !showme2">Levels</a>
              <div ng-show="showme2" class="card horizontal z-depth-0" style="margin-bottom: 0px;">
                <div class="card-content">
                  <p>{{cdata.readonly.levels}}</p>
                </div>
              </div>
              <a href="" class="collection-item" ng-click="showme3 = !showme3">Badges</a>
              <div ng-show="showme3" class="card horizontal z-depth-0" style="margin-bottom: 0px;">
                <div class="card-content">
                  <p>{{cdata.readonly.badges}}</p>
                </div>
              </div>
              <a href="" class="collection-item" ng-click="showme4 = !showme4">Users</a>
              <div ng-show="showme4" class="card horizontal z-depth-0" style="margin-bottom: 0px;">
                <div class="card-content">
                  <p>{{cdata.users}}</p>
                </div>
              </div>
          </div>
          <p>* view and prettify your data using a <a href='https://jsoneditoronline.org/' target='_blank'>JSON editor</a></p>
        </div>

          <div class="modal-footer">
            <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
          </div>
        </div>

  <div id="modalshare" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Share <span style="color: #8bc34a;">{{cname}}</span>
          <a href="" ng-click="helpToast('Invite your users to your gameof5 class<br>by emailing your class list this API URL.',5000,'black')">
              <svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
                <text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
              </svg>
          </a>
        </h4>
        <table>
          <tr>
            <td><img src="images/email.svg"/></td>
          </tr>
          <tr>
            <td>
                <a href='{{share}}' target='_blank'>{{share}}</a>
            </td>
          </tr>
          <tr>
            <td>
              <h5>User Sign-up Process</h5>
               <ol>
                  <li>Create a class email list and send them this API URL</li>
                  <li>Students follow the link to request access</li>
                  <li>View new students using the View Users tool</li>
                  <li>Save new users as part of your class (click checkbox to OK users)</li>
                  <li>Students refresh gameof5 API URL and they will be in!</li>
               </ol>
            </td>
          </tr>
        </table> 
        </div>

        <div class="modal-footer">
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat">Dismiss</a>
        </div>
  </div>
		
  <div id="modalsettings" class="modal center">
      <div class="modal-content">
          <h4>Settings</h4>
        
          <div class="container">
              <table width="50%">
                <tr>
                    <td>Show greyed out lessons</td>
                    <td>
                        <div class="switch">
                            <label>
                              off
                              <input type="checkbox" ng-click="cdata.readonly.settings.show = !cdata.readonly.settings.show" ng-checked="cdata.readonly.settings.show">
                              <span class="lever"></span>
                              on
                            </label>
                        </div>
                    </td>
                </tr>
		      
		<tr>
                    <td>Show lesson comments</td>
                    <td>
                        <div class="switch">
                            <label>
                              off
                              <input type="checkbox" ng-click="cdata.readonly.settings.lcomments = !cdata.readonly.settings.lcomments" ng-checked="cdata.readonly.settings.lcomments">
                              <span class="lever"></span>
                              on
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Show homework link for comments</td>
                    <td>
                        <div class="switch">
                            <label>
                              off
                              <input type="checkbox" ng-click="cdata.readonly.settings.hlink = !cdata.readonly.settings.hlink" ng-checked="cdata.readonly.settings.hlink">
                              <span class="lever"></span>
                              on
                            </label>
                        </div>
                    </td>
                </tr> 
		    
		<tr>
                    <td>Number on leaderboard</td>
                    <td>
                        <div >
				<input class="TextBox" type="number" validate="number" min=0 max=10 ng-model="cdata.readonly.settings.leadnumber"/>
                        </div>
                    </td>
                </tr>
		      
              </table>
          </div>
          
          
        
        <div class="modal-footer">
          <a ng-click="setUrl()" class="modal-action modal-close btn-flat" >Dismiss</a>
        </div>
      </div>
  </div>

</body>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<!--<script type="text/javascript" src="js/javascript.js"></script>-->

<script>

  setFooter();

  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  	$('.modal').modal();
	$('.tooltipped').tooltip({delay: 50});
  });

  // Common footer for pages
  function setFooter() {
    var footerDoc = document.getElementById("g5footer");
    var temphtml = "";
    temphtml = temphtml + "<footer class='page-footer white'>";
      
       temphtml = temphtml + "<div class='row'>";
         temphtml = temphtml + "<div class='col l6 s12'>";
           temphtml = temphtml + "<h5 class='blue-text'>gameof5</h5>";
           temphtml = temphtml + "<p class='black-text text-lighten-4'>gameof5 allows teachers to digitally store, structure, present, and gamify their lessons to increase student engagement. gameof5 is a learning project for the programmer and is free of charge! The application was built using JSON, Javascript, Firebase, AngularJS and Material Design standards.</p>";
         temphtml = temphtml + "</div>";
         temphtml = temphtml + "<div class='col l4 offset-l2 s12'>";
           temphtml = temphtml + "<h5 class='blue-text'>Links</h5>";
          temphtml = temphtml + "<ul>";
            temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='https://material.io/' target='_blank'>Material Design Guidelines</a></li>";
            temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='http://www.materializecss.com' target='_blank'>MaterializeCSS</a></li>";
            temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='https://design.google/' target='_blank'>Google Design</a></li>";
            temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='https://firebase.google.com/' target='_blank'>Firebase</a></li>";
            temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='https://angularjs.org/' target='_blank'>AngularJS</a></li>";
	    temphtml = temphtml + "<li><a class='black-text text-lighten-3' href='https://github.com' target='_blank'>Github</a></li>";
          temphtml = temphtml + "</ul>";
        temphtml = temphtml + "</div></div>";

    footerDoc.innerHTML = temphtml;
  }

  // disable back button, so users do not leave one page app and get confused
  history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>
