<meta charset="UTF-8"> 
<html>
	<head>
		<title>hoels</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
		<link href='website.css' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>

<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
	<div class='container'>
		<a class='navbar-brand blue' href='https://gameof5.com/blog'>
			<img alt='Brand' src='data/images/logosm.png'></a>
			<ul class='nav navbar-nav navbar-right'><a id="mylink" href='https://gameof5.com/blog'>gameof5</a></ul></div></nav>

	<body>
	
	<div class="container">

		<div class="col-sm-12">

			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h3>Hoel Family</h3>
					<img src="data/images/goodbyesm.jpg" width="100%">
					<caption>Welcome to our travel blog. Stay tuned for adventures from around the world</caption>
					<h3>Keywords</h3>
					<div id="keywords"></div>
				</div>

  				<div id="rightside" class="col-sm-12 col-md-6">
					<div ng-app="instantsearch">
						<div ng-controller="instantSearchCtrl">				
							<div class="input-group">
  							<span class="input-group-addon" id="basic-addon3"><b>Keyword search</b></span>
  							<input type="text" class="search" id="basic-url" aria-describedby="basic-addon3" ng-model="searchString">
						</div>

						<br>
					
						<li class="list-unstyled" ng-repeat="i in items | searchFor:searchString">
							<a class="list-group-item list-group-item-action" href="https://hoelfamily.github.io/website/builder.html?page={{ i.number}}">{{i.name}}</a>
						</li>

					</div>
				</div>

			</row>
		</div>
			
  	</div>
	
	</body>
	
	<footer><div>
 		<p>Copyright &copy; Hoels 2017</p>
	</div></footer>

	<script src="site.js"></script>
	<script>getKeywords()</script>
	
</html>
