<style>
    #sorter:hover {
        text-decoration: underline;
        font-weight: bold;
    }
</style>
<table>
	<tr>
	    	<td style='color: #8bc34a; font-size: 2em;'>List users <span style="font-size:1em;" ng-show="listArray[0].dateconfirmed != undefined">({{listArray[0].dateconfirmed}})</span>
        		<a href="" ng-click="helpToast('View and rank registered students.<br>Confirm new students and calculate totals when saving.',5000,'black')">
				<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          			<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          			<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        			</svg>
      			</a>
		</td>
		<td class="right">
            		<a href="#modalupall" id="upall" title="Upload data" data-height="50" class="modal-action modal-trigger btn blue white-text" style="vertical-align: bottom;">Upload</a>
        	</td>
	</tr>
	<tr>
		<td class="left">
                        <a href="#!" id="sorter" ng-click="sortUser(listArray,'section')">Section</a> |
			<a href="#!" id="sorter" ng-click="sortUser(listArray,'email')">Name</a> |
			<a href="#!" id="sorter" ng-click="sortUser(listArray,'badgestotal')">Badges</a> |
			<a href="#!" id="sorter" ng-click="sortUser(listArray,'quiztotal')">Quizzes</a> |
			<a href="#!" id="sorter" ng-click="sortUser(listArray,'pointstotal')">Points</a>  |
            		<a href="#!" id="sorter" ng-click="sortUser(listArray,'confirmed')">Unconfirmed</a> |
			<a href="#modalcsv" ng-click="makeCSV()" class="modal-action modal-trigger">CSV</a>
		</td>
	</tr>
    <!--
	<tr>
		<td class="left">
		<select id="secnum2" class="browser-default" ng-model="dummy" ng-change="setDummy(dummy)" ng-options="user2 as user2.section for user2 in listArray | unique:'section'">
		</select>
		</td>
	</tr>-->
</table>

<style>
    #badgie:hover {
        width: 40px;
    }
</style>

<!--<div ng-repeat="(key, item) in listArray" ng-show="item.section == dummy.section">-->
<div ng-repeat="(key, item) in listArray">
   <ul class="collection with-header">    
      <li class="collection-item avatar">
         <img ng-show="item.photoUrl.indexOf('/mo/') <0" ng-src='{{item.photoUrl}}' alt="{{item.name}}" height='50px' class="circle" onerror="this.src='images/tyler-durden.jpg'">
         <img ng-show="item.photoUrl.indexOf('/mo/') >0" ng-src='images/tyler-durden.jpg' alt="{{item.name}}" height='50px' class="circle" onerror="this.src='images/tyler-durden.jpg'">
         <a href="{{view}}" ng-click="navUser3($index)" target='_blank'>{{item.name}}</a> - ({{item.email}})<br>
         
         <p ng-show="item.confirmed==true"><b>Points: {{item.pointstotal}}</b> | Daily: {{item.dailytotal}} | Quizzes: {{item.quiztotal}} | Badges: {{item.badgestotal}} | Level: {{item.level.name}} | <a href="#!" id="sorter" ng-click="showedit$index = !showedit$index" ng-init="showedit$index = false">Edit</a></p>
         
	 <p ng-show="item.confirmed==false" class="red-text">
             Unconfirmed new user <span><a href="#" ng-click="confirmUser(item.uid,$index)">confirm</a></span> <span><a href="#" ng-click="removeuser(item.uid,$index)">delete</a></span>
         </p>     
	      
         <div class="secondary-content">
                <p ng-show="item.section != undefined" class="chip blue white-text">{{item.section}}</p>
         </div>
          
         <div ng-show="showedit$index">
             <br>
             <div class="input-field col s12 m6">
				<label class='md-no-float' for="section" data-error="wrong" data-success="right">Section number</label>
				<input id="section" type="number" oninput="javascript: if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);" ng-model="item.section">
             </div>
					
             <div class="col s12 m6">
				<input type="checkbox" class="filled-in checkbox-pink" id="deleteme{{$index}}" ng-click="showkill$index = !showkill$index"/>
				<label for="deleteme{{$index}}"></label>
				<a class="waves-effect waves-light btn pink" ng-init="showkill$index=true" ng-disabled="showkill$index" ng-click="removeuser(item.uid,$index)">Delete</a>
             </div>
         </div>

       </li>
    </ul>
</div>
