<table>
	<tr>
	    	<td style='color: #8bc34a; font-size: 2em;'>List users <span style="font-size:1em;" ng-show="listArray[0].dateconfirmed != undefined">({{listArray[0].dateconfirmed}})</span>
        		<a href="" ng-click="helpToast('View and rank registered students.<br>Confirm new students and calculate totals when saving.',5000,'black')">
				<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          			<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          			<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        			</svg>
      			</a>
		</td>
		<td class="right">
			<a ng-click="sortUser(listArray,'email')" class="waves-effect waves-light btn blue">Name</a>
			<a ng-click="sortUser(listArray,'pointstotal')" class="waves-effect waves-light btn blue">Points</a>
		</td>
	</tr>
	<tr>
		<td class="left">
		<select id="secnum2" class="browser-default" ng-model="dummy2" ng-options="user2 as user2.section for user2 in listArray | unique:'section'">
			<option value="">SECTION</option>
		</select>
		</td>
	</tr>
</table>
<div ng-repeat="(key, item) in listArray" ng-show="item.section == dummy2.section">
	<ul class="collection with-header">
	<li class="collection-item avatar">
      <img ng-src='{{item.photoUrl}}' alt="{{item.name}}" height='50px' class="circle">
      <span class="title"><a href="" ng-click="navUser2($index)">{{item.name}}</a> ({{item.email}})</span>
      <p>Level: {{item.level.name}}</p>
      <p ng-show="item.confirmed==true"><b>Points: {{item.pointstotal}}</b> | Daily: {{item.dailytotal}} | Quizzes: {{item.quiztotal}} | Badges: {{item.badgestotal}}</p>
      <p ng-show="item.confirmed==false" class="red-text">Unconfirmed new user</p>
      <a ng-repeat="(name,value) in item.badges" ng-show="value>=3" href="#!" class="secondary-content"><img src='images/badges/{{name}}.svg'></a>
    </li>
    </ul>
</div>
