<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Levels
	  <a href="" ng-click="helpToast('Add levels with low and high point boundaries.<br>Ensure your levels points are consecutive.',5000,'black')">
        	<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          	<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          	<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        	</svg>
      	  </a>
	</td>
	<td class="right">
		<a href="#modaluplevel" id="upload" title="Upload data" data-height="50" class="modal-action modal-trigger btn blue white-text" style="vertical-align: bottom;">Upload</a><span></span>
		<a ng-click="addlevel()" class="waves-effect waves-light btn light-green">Add</a>
	</td>
</tr>
</table>

<div ng-repeat="item in cdata.readonly.levels">
	<ul class="collection with-header">
		<li class="collection-item">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="name" type="text" ng-model="item.name" maxlength="20">
				    	<label class='md-no-float' for="name">Name</label>
					</div>

					<div>
					   <a class="waves-effect waves-light btn light-green" ng-click="showedit$index = !showedit$index">Details</a>
				    	   <a class="waves-effect waves-light btn pink" ng-click="removelevel($index)">Delete</a>
				        </div>
					<br>
					<div ng-show="showedit$index">
					
						<div class="input-field col s6">
							<input class="TextBox" id="low" type="number" validate="number" min=0 max=1000 ng-model="item.low" ng-init="finishLoading()"/>
							<label class='md-no-float' for="low">Low</label>
						</div>
						<div class="input-field col s6">
							<input class="TextBox" id="high" type="number" validate="number" min=0 max=1000 ng-model="item.high"/>
							<label class='md-no-float' for="high">High</label>
						</div>
						<div class="input-field col s12 m6">
							<input id="priv" type="text" ng-model="item.priv">
					    	<label class='md-no-float' for="desc">Privilege</label>
						</div>
						<div class="input-field col s12 m6">
							<input id="desc" type="text" ng-model="item.desc">
					    	<label class='md-no-float' for="desc">Description</label>
						</div>
					
					</div>

				 </div>
			</form>
		</li>
	</ul>
</div>
