<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Daily
	  <a href="" ng-click="helpToast('Add daily reports for students.<br>Select a lesson and grade students. Provide a badge/message for non 3 grades.',5000,'black')">
        	<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          	<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          	<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        	</svg>
      	  </a>
	</td>
	<td style="float:right;"><a ng-click="viewtable()" ng-disabled="cdata.readonly.lessons.length == 0" class="waves-effect waves-light btn right light-green">CSV</a>
    </td>
    <td style="float:right;">
        <a ng-click="adddaily()" ng-disabled="cdata.readonly.lessons.length == 0" class="waves-effect waves-light btn right blue">Add</a>
    </td>
</tr>
</table>

<div ng-repeat="item in cdata.readonly.daily">
	<ul class="collection with-header">
		<li class="collection-item">
				<div class="row">

                    
					<!--<label for="name">Lesson number</label>-->
                     <input type="checkbox" id="{{item.id.id}}" ng-model="selIds[$index]"><label for="{{item.id.id}}">Add lesson to CSV</label>
					<select id="name" class="browser-default" ng-model="item.id" ng-options="lesson as lesson.name for lesson in cdata.readonly.lessons track by lesson.id"><option value="">Select</option></select>

				 </div>
				 <div>
				    	<a class="waves-effect waves-light btn light-green" ng-click="$scope.showedit = !$scope.showedit">Edit users</a>
				    	<a class="waves-effect waves-light btn pink" ng-click="removedaily($index)">Delete</a>
				 </div>
				 <div ng-show="$scope.showedit">
					  
                   <!--
				   <div style="padding-top: 10px; padding-bottom: 10px;">
					<select class="browser-default" ng-model="dummy" ng-change="setDummy(dummy)">
        					<option ng-repeat="section in mysections" value="{{section}}" >{{section}}</option>
      					</select>
					   
					</div>
                    -->
                     
				 	<table class="table">
				 		<thead>
          					<tr>
              					<th>Username</th>
                                <th>Section</th>
              					<th>Grade</th>
              					<th>Badge</th>
              					<th>Comment</th>
          					</tr>
        				</thead>

                        
        				<!--<tbody ng-repeat="user in cdata.users" ng-show="user.section==dummy">-->
                        <tbody ng-repeat="user in cdata.users">
				 			<tr>
				 				<td>{{user.email}}</td>
                                <td>{{user.section}}</td>
				 				<td>
				 					<input class="TextBox" type="number" validate="number" min=0 max=4 ng-model="user.daily[$parent.$index].grade" ng-change="emptyField(user,$parent.$index,$index)"/>
				 				</td>
				 				<td>
				 					<select class="browser-default" ng-model="user.daily[$parent.$index].badge" ng-options="badge.id as badge.name for badge in cdata.readonly.badges"><option value="">Select</option></select>
				 				</td>
				 				<td><input class="TextBox" type="text" validate="text" maxlength="140" ng-model="user.daily[$parent.$index].desc"/><td>
				 			</tr>
				 		</tbody>
				 	</table>
				 </div>
		</li>
	</ul>
</div>
