
<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Lessons</td>
	<td class="right">
		<a ng-click="addlesson(item.name)" class="waves-effect waves-light btn light-green">Add</a>
		<a ng-click="nav('includes/lessons_all.html')" class="waves-effect waves-light btn blue">View</a>
	</td>
</tr>
</table>

<div ng-repeat="item in data.lessons">
	<ul class="collection with-header">
		<li class="collection-item">
				 <div class="row">
				 	<div class="input-field col s12">
						<input id="name" type="text" class="validate" min=2 max=10 ng-model="item.name">
				    	<label class='md-no-float' for="name" data-error="wrong" data-success="right">Name</label>
					</div>

				 </div>
				 <div>
				 	<a class="waves-effect waves-light btn light-green" ng-click="$scope.showdetails = !$scope.showdetails">Details</a>
				    <a class="waves-effect waves-light btn light-green" ng-click="$scope.showsegments = !$scope.showsegments">Segments</a>
				    <a class="waves-effect waves-light btn blue" ng-disabled="$index == 0" ng-click="uplesson($index)">Up</a>
				    <a class="waves-effect waves-light btn blue" ng-disabled="$last" ng-click="downlesson($index)">Down</a>
				    <a class="waves-effect waves-light btn pink" ng-click="removelesson($index)">Delete</a>
				 </div>
				 <div ng-show="$scope.showdetails">
				 	<h5>Details</h5>
				 	<ul class="collection with-header">
						<li class="collection-item">
				 			<div class="row">
				 				<div class="input-field col s12">
									<input id="desc" type="text" class="validate" min=2 max=140 ng-model="item.desc">
				    				<label class='md-no-float' for="name" data-error="wrong" data-success="right">Description</label>
								</div>
							 	<div class="input-field col s12">
									<input id="img" type="text" ng-model="item.img">
							    	<label class='md-no-float' for="img">Image URL</label>
								</div>
								<div class="input-field col s12">
									<input id="keywords" type="text" ng-model="item.keywords" ng-list>
							    	<label class='md-no-float' for="keywords">Keywords (separate using commas)</label>
								</div>
								<div class="input-field col s12">
									<input id="expectations" type="text" ng-model="item.expectations" ng-list>
							    	<label class='md-no-float' for="Expectations">Expectations (separate using commas)</label>
								</div>
				 			</div>
				 		</li>
				 	</ul>
				 </div>
				 <div ng-show="$scope.showsegments">
					<table>
					<tr>
						<td><h5>Segments</h5></td>
						<td><a ng-click="addsegment($index)" class="waves-effect waves-light btn right light-green">Add</a></td>
					</tr>
					</table>				 
				 	<div ng-repeat="segment in item.segments">
				 		<ul class="collection with-header">
							<li class="collection-item">
								<div class="input-field col s12">
									<input id="title" type="text" class="validate" min=2 max=10 ng-model="segment.title">
				    				<label class='md-no-float' for="title" data-error="wrong" data-success="right">Title</label>
								</div>
								<div class="input-field col s12">
									<input id="text" type="text" ng-model="segment.text">
				    				<label class='md-no-float' for="name" data-error="wrong" data-success="right">Text</label>
								</div>
							 	<div class="input-field col s12">
									<input id="segimg" type="text" ng-model="segment.segimg">
							    	<label class='md-no-float' for="segimg">Image URL</label>
								</div>
								<div class="input-field col s12">
									<input id="seglink" type="text" ng-model="segment.seglink">
							    	<label class='md-no-float' for="seglink">Link URL</label>
								</div
								<div>
									<a class="waves-effect waves-light btn pink" ng-click="removesegment($parent.$index,$index)">Delete</a>
								</div>
							</li>
						</ul>
					</div>
				 </div>

		</li>
	</ul>
</div>
