<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Quizzes
	  <a href="" ng-click="helpToast('Add and enter percentage grades for your students.',5000,'black')">
        	<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          	<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          	<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        	</svg>
      	  </a>
	</td>
	<td><a ng-click="addquiz(item.name)" class="waves-effect waves-light btn right light-green">Add</a></td>
</tr>
</table>

<div ng-repeat="item in cdata.readonly.quizzes" ng-init="showedit$index = false">
	<ul class="collection with-header">
		<li class="collection-item">
				<div class="row">
					<input  id="name" class="TextBox" type="text" ng-model="item.name"/>
					<label for="name">Quiz name</label>
				 </div>
				 <div>
				    	<a class="waves-effect waves-light btn light-green" ng-click="showedit$index = !showedit$index">Edit users</a>
				    	<a class="waves-effect waves-light btn pink" ng-click="removequiz($index)">Delete</a>
				 </div>
				 <div ng-show="showedit$index">
					
					<table class="table">
				 		<thead>
          					<tr>
              					<th>Username</th>
                                		<th>Section</th>
                                		<th>Badge</th>
              					<th>XP</th>
              					<th>Comment</th>
          					</tr>
        					</thead>

                        			<tbody ng-repeat="user in cdata.users" ng-init="user.quizzes[$parent.$index].name = item.name">
				 			<tr>
				 				<td>{{user.email}}</td>
								<td>{{user.section}}</td>
								<td>
				 					<select class="browser-default" ng-model="user.quizzes[$parent.$index].badge" ng-options="badge.id as badge.name for badge in cdata.readonly.badges"><option value="">Select</option></select>
				 				</td>
				 				<td>
				 					<input class="TextBox" type="number" validate="number" min=0 max=4 ng-model="user.quizzes[$parent.$index].xp"/>
				 				</td>
				 				<td><input class="TextBox" type="text" validate="text" maxlength="140" ng-model="user.quizzes[$parent.$index].desc"/><td>
				 			</tr>
				 		</tbody>
				 	</table> 
					
				 </div>

		</li>
	</ul>
</div>
