<table>
<tr>
  <td style='color: #8bc34a; font-size: 2em;'>Settings
    <a href="" ng-click="helpToast('Set environment for your student views.',5000,'black')">
        <svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
            <text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        </svg>
    </a>
  </td>
</tr>
</table>



<button class="btn-small btn-primary pull-right gray" ng-click="readonly.settings.show=!readonly.settings.show" ng-if="!readonly.settings.show">Hide</button><span ng-if="!readonly.settings.show">  Greyed out lessons to users</span>
<button class="btn-small btn-danger pull-right gray" ng-click="readonly.settings.show=!readonly.settings.show" ng-if="readonly.settings.show">Show</button><span ng-if="readonly.settings.show">  Greyed out lessons to users</span>
<a href="" ng-click="helpToast('Future lessons may be hidden/greyed out at the lesson level. Show them to users?',5000,'black')">
        <svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
            <text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        </svg>
    </a>