<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Badges
		<a href="" ng-click="helpToast('Name and assign an icon to your badge.',5000,'black')">
        	<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          		<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          		<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        	</svg>
      		</a>
	</td>
	<td class="right">
		<a href="#modalupload" id="upload" title="Upload data" data-height="50" class="modal-action modal-trigger btn blue white-text" style="vertical-align: bottom;">Upload</a><span></span>
		<a ng-click="addbadge()" class="waves-effect waves-light btn light-green">Add</a>
	</td>
	</td>
</tr>
</table>

<div ng-repeat="item in readonly.badges">
	<ul class="collection with-header">
		<li class="collection-item">
			<form class="col s12">
				<div class="row">
					
					<div class="input-field col s12 m6">
						<input id="name" type="text" class="validate" min=2 max=10 ng-model="item.name">
				    	<label class='md-no-float' for="name" data-error="wrong" data-success="right">Name</label>
					</div>
					<div class="input-field col s12 m6" ng-init="finishLoading()">
						<input id="value" type="number" class="validate" min=-1 max=1 ng-model="item.value">
				    	<label class='md-no-float' for="value">Value (+1 for positive, -1 for negative)</label>
					</div>
				</div>
				<div class="row">
					<div>
						<a class="waves-effect waves-light btn light-green" ng-click="$scope.showedit = !$scope.showedit">Badge</a>
				    	<a class="waves-effect waves-light btn pink" ng-click="removebadge($index)">Delete</a>
				    </div>
				    <div ng-show="$scope.showedit">
				    	<br>
						<div class="scrollmenu">

							<a class="image" ng-click="item.id = mybadge" ng-repeat="mybadge in admin.badgelist" id='{{key}}{{$index}}' title="{{mybadge}}" >
							<img src="images/badges/{{mybadge}}.svg" ng-style="{'opacity':item.id == mybadge ? '1' : '0.5' }"/>
							</a>

						</div>
							

					</div>
				
    			</div>
			</form>
		</li>
	</ul>
	
</div>

<script>

var imageWidth = 60;
   
$(".imageContainer").width($(".image").length*imageWidth);


</script>
