<table>
<tr>
	<td style='color: #8bc34a; font-size: 2em;'>Quizzes
	  <a href="" ng-click="helpToast('Add and enter percentage grades for your students.',5000,'black')">
        	<svg class="svg-class" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          	<ellipse ry="11" rx="11" cy="12" cx="12" stroke="#2196f3" fill="#fff"/>
          	<text font-style="normal" transform="matrix(2.25929, 0, 0, 0.870395, -7.11379, -0.393831)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_2" y="20" x="6.5" stroke-width="0" stroke="#2196f3" fill="#2196f3">i</text>
        	</svg>
      	  </a>
	</td>
	<td><a ng-click="addquiz(item.name)" class="waves-effect waves-light btn right light-green">Add</a></td>
</tr>
</table>

<div ng-repeat="item in readonly.quizzes">
	<ul class="collection with-header">
		<li class="collection-item">
				<div class="row">
					<input  id="name" class="TextBox" type="text" ng-model="item.name"/>
					<label for="name">Quiz name</label>
				 </div>
				 <div>
				    	<a class="waves-effect waves-light btn light-green" ng-click="$scope.showedit = !$scope.showedit">Edit users</a>
				    	<a class="waves-effect waves-light btn pink" ng-click="removequiz($index)">Delete</a>
				 </div>
				 <div ng-show="$scope.showedit">
				 	<table class="table">
				 		<thead>
          					<tr>
              					<th>Username</th>
              					<th>Grade</th>
              					<th>XP</th>
          					</tr>
        				</thead>

        				<tbody ng-repeat="user in users">
				 			<tr>
				 				<td>{{user.email}}</td>
				 				<td><input class="TextBox" type="number" validate="number" ng-model="user.quizzes[$parent.$index].grade" ng-change="user.quizzes[$parent.$index].name = $parent.item.name; user.quizzes[$parent.$index].xp = setQuiz(user.quizzes[$parent.$index].grade,$parent.$index)"/><td>
				 				<td><span style='color: orange;'><b>XP </b></span><span class="chip blue white-text">{{user.quizzes[$parent.$index].xp}}</span></td>
				 			</tr>
				 		</tbody>
				 	</table>
				 </div>

		</li>
	</ul>
</div>
