<div style="margin: 10px;">
    
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
         
          <div class="card horizontal">
              <div class="card-image">
                <a href="#modalprofile" class="modal-action modal-trigger"><img ng-src="{{user.photoUrl}}" style="padding:5px"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5>{{user.level.name}}</h5>
                  <!-- <p style="color: #8bc34a;" ng-show="user.pointstotal > user.avgpoints">{{user.pointstotal}} XP (+ {{user.pointstotal - user.avgpoints}})</p>
                  <p style="color: red;" ng-show="user.pointstotal < user.avgpoints">{{user.pointstotal}} XP (- {{user.avgpoints - user.pointstotal}})</p>-->
                  <p>{{user.pointstotal}} XP</p>  
                </div>
                <div class="card-action">
                  <a href="#modallevels" class="modal-action modal-trigger">Levels</a>
                </div>
              </div>
          </div>
     
        <ul class="collection">
            <li class="collection-item">
              <b>How do I get XP?</b>
              <p><i>Daily work XP + {{readonly.settings.quizname}} + Skill badges</i></p>
            </li>
            <li class="collection-item avatar">
              <img src="images/levelup.png" class="circle">
              <a href="#modallevels" class="modal-action modal-trigger" style="color: black; text-decoration-color: black; text-decoration: underline"><b>Next level</b></a><br>
                <p>{{readonly.levels[user.level.number - 1].name}}</p>
                <div class="progress grey lighten-3">
                    <div class="determinate light-green" style="width: {{((user.pointstotal - user.level.low) / (user.level.high - user.level.low)) * 100}}%"></div>
                </div>
            </li>
            <li class="collection-item avatar">
              <img src="images/star.png" class="circle">
              <span ng-click="showskills=!showskills" style="cursor:pointer; text-decoration: underline"><b>Skill badge total</b></span>
              <p>{{user.badgestotal}} XP</p>
            </li>
        </ul>
      </div>

      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        
          <!-- remove recents
          <ul class="collection with-header">
                
                <li class="collection-item" ng-click="showrecents = !showrecents" style="height: 50px;">
                    <span><i class="small material-icons">fiber_new</i></span>
                    <span style="text-decoration: underline; cursor: pointer;">Recent Activity</span>
                </li>
              
                <div ng-show="showrecents">
                <li class="collection-item avatar" ng-repeat="item in user.recents">
                  <div ng-show=item.type=="lesson">
                      <i class="large material-icons circle light-green">description</i>
                      <a href="#modallesson" class="modal-action modal-trigger" ng-click=setDataById(item.id)>
                      <span class="title">{{item.name}}</span></a>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.date}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.date}})</span>
                      </p>
                  </div>
                  <div ng-show=item.type=="daily">
                      <img ng-src="images/badges/{{item.badge}}.svg" class="circle">
                      <a href="#modallesson" class="modal-action modal-trigger" ng-click=setDataById(item.id)>
                      <span class="title">{{item.name}}</span></a>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.mydate}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.mydate}})</span>
                      </p>
                  </div>
                  <div ng-show=item.type=="quiz">
                      <i class="large material-icons circle blue">help</i>
                      <span class="title">{{item.name}}</span>
                      <p>{{item.desc}}<br>
                         <span ng-show="item.past==1">Posted 1 day ago ({{item.date}})</span>
                         <span ng-show="item.past!=1">Posted {{item.past}} days ago ({{item.date}})</span>
                      </p>
                  </div>
                </li>
                </div>
            </ul>
            -->
          
            <ul class="collection with-header">
                <li class="collection-item" ng-click="showcomments = !showcomments" style="height: 50px;">                    
                    <span><i class="small material-icons">comment</i></span>
                    <span style="text-decoration: underline; cursor: pointer;">Top comments</span>
                </li>
                <div ng-show="showcomments">
                    
                    <li class="collection-item avatar" ng-repeat="daily in allcomms">
                    <img ng-src="images/badges/{{daily.badge}}.svg" class="circle"/>
                      
                    <b>Teacher says ... </b><i>{{daily.desc}}</i><br>
                    <!--<a ng-show="daily.type == 'daily'" href="#modallesson" class="modal-action modal-trigger" ng-click="setData(daily.id)">
                        {{daily.name}}
                    </a>-->
                    <span ng-show="daily.type == 'daily'">{{daily.name}}</span>
                    <span ng-show="daily.type == 'quiz'">{{daily.name}}</span>
                    <p ng-show="daily.date != undefined">{{daily.date}}</p>
                      
                        <div class="secondary-content">
                          <p ng-show="daily.xp == 4" class="chip light-green white-text">{{daily.xp}}</p>
                          <p ng-show="daily.xp == 3" class="chip blue white-text">{{daily.xp}}</p>
                          <p ng-show="daily.xp == 2" class="chip pink lighten-2 white-text">{{daily.xp}}</p>
                          <p ng-show="daily.xp < 2" class="chip red white-text">{{daily.xp}}</p>
                          
                        </div> 
                        
                            <!--
                            <br>      

                              <a ng-click="$scope.showedit=!$scope.showedit"><i class="small material-icons" ng-show="comments[daily.id.id] == undefined">chat_bubble_outline</i><i class="small material-icons" ng-show="comments[daily.id.id] != undefined">chat</i><span style="text-decoration-line: underline; line-height:24px; cursor:pointer;"> Comment</span>
                              </a>
                              <div ng-show="$scope.showedit">
                                <input class="TextBox" ng-model="comments[daily.id.id].comment" id="respond" + {{daily.id.id}} max=140/>
                                <button ng-click="test(comments[daily.id.id].comment, daily.id.id)">push</button>
                              </div>
                            -->
    
                </li>
                </div>
              </ul>
          
              <ul class="collection with-header">
                <li class="collection-item" style="height: 50px;" ng-click="showskills=!showskills">
                    
                    <span><i class="small material-icons">build</i></span>
                    <span style="text-decoration: underline; cursor: pointer;">Top skills</span>
                    <span><a href="#modalbadges" class="modal-action modal-trigger" style="float: right; margin-top: 0px"><i class="small material-icons">help</i></a></span>
                </li>
                  
                <div ng-show="showskills">
                    <li class="collection-item avatar" ng-repeat="skill in allskills">
                          <img ng-src="images/badges/0.svg" title="{{skill.name}}" ng-show="skill.number < 3" class="circle"/>
                          <img ng-src="images/badges/{{skill.id}}.svg" title="{{skill.name}}" ng-show="skill.number >= 3" class="circle"/>
                          <p>{{skill.name}}</p>
                          <p ng-show="(skill.number * skill.value) < 0" style='color: red;'>Ouch, you don't really want this badge!</p>
                          <p ng-show="(skill.number * skill.value) > 0 && (skill.number * skill.value) < 3">Nice job! 3x a skill and you earn the badge.</p>
                          <p ng-show="(skill.number * skill.value) >= 3">Nice job! Congrats and collect em' all!</p>
                          <div class="secondary-content">
                            <p ng-show="(skill.number * skill.value) >= 3" class="chip light-green white-text">{{skill.number * skill.value}}</p>
                            <p ng-show="(skill.number * skill.value) >= 0 && (skill.number * skill.value) < 3" class="chip blue white-text">{{skill.number * skill.value}}</p>
                            <p ng-show="(skill.number * skill.value) < 0" class="chip red white-text">{{skill.number * skill.value}}</p>
                          </div>
                    </li>
                  </div>
            </ul>
          
          
            <div class="col s12 m6 l6">
            <div class="card animate fadeRight">
            <div class="mycardcontent green lighten-1 white-text">
               <p class="card-stats-title">Daily work XP</p>
               <h4 class="card-stats-number white-text">{{user.dailytotal}}</h4>
            </div>
            <div class="mycardcontent green">
               <div class="center-align">
                    <canvas id="dailybar" height="65%" class="chart chart-bar" chart-series="dailyseries" chart-data="dailydata" chart-options="dailyoptions" chart-labels="dailylabels" chart-colors="dailyColorBar">
                    </canvas> 
               </div>
            </div>
         </div>
         <ul class="collection">
             <li class="collection-item avatar">
                 <i class="material-icons light-green white-text circle">help</i>
                 <p id="dailyinfo"><b>Daily XP Info</b><br>Click on a bar for name, description and XP awarded.</p>
             </li>
         </ul>
        </div>
        <div class="col s12 m6 l6">
            <div class="card animate fadeLeft">
                <div class="mycardcontent cyan white-text">
                    <p class="card-stats-title">{{readonly.settings.quizname}}</p>
                    <h4 class="card-stats-number white-text">{{user.quiztotal}}</h4>
                </div>
            <div class="mycardcontent cyan darken-1">
               <div class="center-align">
                    <canvas id="quizbar" height="65%" class="chart chart-bar" chart-series="quizseries" chart-data="quizdata" chart-options="quizoptions" chart-labels="quizlabels" chart-colors="quizColorBar">
                    </canvas> 
               </div>
            </div>
         </div>
         <ul class="collection">
             <li class="collection-item avatar">
                 <i class="material-icons cyan white-text circle">help</i>
                 <p id="quizinfo"><b>{{readonly.settings.quizname}} Info</b><br>Click on a bar for name, description and XP awarded.</p>
             </li>
         </ul>
       </div> 
        </div>

      </div>

</div>
