<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content blue lighten-2 white-text">
          <h4>{{lesson.name}}</h4>
          <p>{{lesson.desc}}</p>
        </div>
        <div class="card-content black-text">
            
            <div class="collection">
                <div class="collection-item" ng-repeat="item in lesson.segments.slice().reverse()">
                    <h5 ng-show="item.seglink == ''">{{item.title}}</h5>
                    <a href="{{item.seglink}}" target="_blank">
                        <h5 ng-show="item.seglink != ''">{{item.title}}</h5>
                    </a>
                    <p ng-bind-html="item.text" ng-show="item.text !=''"></p><br>
                    <img ng-src="{{item.segimg}}" ng-show="item.segimg !=''" width="100%">
                </div>
            </div>
        </div>
        <div class="card-action">
          <div ng-hide="lesson.keywords.length == 0 &&  lesson.expectations.length == 0">
            <div title="keywords" class="chip blue white-text" ng-repeat="key in lesson.keywords">{{key}}</div>
            <div title="curriculum expectations" class="chip orange white-text" ng-repeat="expectation in lesson.expectations">{{expectation}}</div>
          </div>
        </div>
      </div>
        
    </div>
</div>
