<div class="collection with-header black-text" align="center">
	<div class="collection-header">

  <svg
   xmlns="http://www.w3.org/2000/svg"
   width="100%"
   viewBox="0 0 200 23">
  <defs
     id="defs30" />
  <ellipse
     cx="20.022142"
     cy="12.719396"
     id="svg_1"
     rx="9.1472826"
     ry="9.756896"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     fill-opacity="null"
     cx="10.613509"
     cy="12.719396"
     id="svg_2"
     rx="2.6135092"
     ry="2.7876844"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     fill-opacity="null"
     cx="29.430775"
     cy="12.719396"
     id="svg_4"
     rx="2.6135092"
     ry="2.7876844"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     stroke="null"
     stroke-opacity="null"
     cx="16.657249"
     cy="8.7120981"
     id="svg_5"
     rx="4.1816149"
     ry="4.4602952"
     style="fill:#ffffaa;stroke-width:1.5" />
  <ellipse
     stroke="null"
     stroke-opacity="null"
     cx="23.517712"
     cy="8.6772518"
     id="svg_8"
     rx="4.1816149"
     ry="4.4602952"
     style="fill:#ffffaa;stroke-width:1.5" />
  <ellipse
     stroke="null"
     stroke-opacity="null"
     fill-opacity="null"
     cx="20.087479"
     cy="16.721266"
     id="svg_9"
     rx="8.0855446"
     ry="6.2374444"
     style="fill:#ffffaa;stroke-width:1.5" />
  <ellipse
     stroke="null"
     stroke-opacity="null"
     cx="10.156145"
     cy="12.719396"
     id="svg_10"
     rx="1.5681056"
     ry="1.9513792"
     style="fill:#ffffaa;stroke-width:1.5" />
  <ellipse
     stroke="null"
     stroke-opacity="null"
     cx="29.855473"
     cy="12.649704"
     id="svg_11"
     rx="1.5681056"
     ry="1.9513792"
     style="fill:#ffffaa;stroke-width:1.5" />
  <ellipse
     cx="16.199886"
     cy="8.2101068"
     id="svg_12"
     rx="1.2984817"
     ry="1.3366203"
     style="fill:#ffffff;stroke:#000000;stroke-width:0.15163472" />
  <path
     stroke="null"
     stroke-opacity="null"
     fill-opacity="null"
     d="M 20.52851,2.9102296 22.798996,0.349045 c 0.01634,0.0174245 -0.408362,1.6203417 -0.424696,1.602918 0.01634,0.017425 -4.13261,3.5020292 -1.84579,0.9582666 z"
     id="svg_14"
     style="fill:#2196f3;stroke-width:1.5" />
  <path
     stroke="null"
     stroke-opacity="null"
     fill-opacity="null"
     d="M 20.231252,3.7599814 19.334668,0.36731186 c 0.0224,-0.006017 1.094567,1.20504964 1.072166,1.21106914 0.0224,-0.00602 0.698603,5.5802893 -0.175582,2.1816004 z"
     id="svg_15"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     rx="2"
     id="svg_18"
     cy="41.5625"
     cx="53.6875"
     fill-opacity="null"
     stroke-opacity="null"
     ry="0"
     style="fill:none;stroke:#000000;stroke-width:1.5" />
  <ellipse
     cx="20.120148"
     cy="11.534629"
     id="svg_20"
     rx="1.5681056"
     ry="0.83630538"
     style="fill:#000000;stroke-width:1.5" />
  <ellipse
     fill-opacity="null"
     cx="16.452581"
     cy="8.6788998"
     id="svg_21"
     rx="0.66971171"
     ry="0.71434414"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     cx="24.073082"
     cy="8.1299791"
     id="svg_22"
     rx="1.2983783"
     ry="1.3121059"
     style="fill:#ffffff;stroke:#000000;stroke-width:0.16607936" />
  <ellipse
     fill-opacity="null"
     cx="24.393198"
     cy="8.5439863"
     id="svg_23"
     rx="0.66971171"
     ry="0.71434414"
     style="fill:#2196f3;stroke-width:1.5" />
  <ellipse
     ry="0.84375"
     id="svg_27"
     cy="48.78125"
     cx="50.84375"
     fill-opacity="null"
     stroke-opacity="null"
     rx="0"
     style="fill:#ffffff;stroke:#2196f3;stroke-width:1.5" />
  <ellipse
     ry="2.15625"
     id="svg_29"
     cy="39.96875"
     cx="51.65625"
     fill-opacity="null"
     stroke-opacity="null"
     rx="0"
     style="fill:#ffffff;stroke:#2196f3;stroke-width:1.5" />
  <text
     id="text3363"
     y="16.204428"
     x="86"
     style="font-style:normal;font-weight:normal;font-size:8px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#8bc34a;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1">Lessons
  </text>
  <path
     id="path3366"
     d="m 16.470864,15.525966 6.762092,1.934054 -6.826492,0.458065 z"
     style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:0.23881987;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
  </svg>

  </div>
	   <a ng-repeat="item in data.lessons" href="" id='data{{$index}}' class="collection-item" ng-click="setData($index)">{{item.name}}</a>
  </div>
