<div class="row">
  <div class="col s12 m6">
      <div class="card hoverable">
          <div class="card-content">
            <table>
              <tr>
                <td><span class="card-title">Level: {{user.level.name}}</span></td>
                <td class="right"><div class='chip blue white-text'>{{user.pointstotal}}</div></td>
              </tr>
              <tr>
                <td>
                  Level up for privilages and to win the game
                </td>
              </tr>
            </table>
            <div class="card-action" align="center">
              <a class="waves-effect waves-light btn light-green" ng-disabled="user.pointstotal == 0" ng-click="nav('includes/student_level.html')">Details</a>
            </div>
         </div>
      </div>
  </div>
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content">
        <table>
          <tr>
            <td><span class="card-title">Daily XP</span></td>
            <td class="right"><span class="chip orange white-text" ng-show="user.dailytotal!=0">{{user.dailytotal}}</span></td>
          </tr>
          </table>
          <table>
            <tr>
              <td>
                Teacher observations to help you improve
              </td>
            </tr>
          </table>
          <div class="card-action" align="center">
            <a class="waves-effect waves-light btn light-green" ng-disabled="user.dailytotal == 0" ng-click="nav('includes/student_daily.html')">Details</a>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content">
        <table>
          <tr>
            <td><span class="card-title">Badge XP</span></td>
            <td class="right"><span class="chip orange white-text" ng-show="Object.keys(user.badges).length!=0">{{user.badgestotal}}</span></td>
          </tr>
          </table>
          <table>
            <tr>
              <td>
                Performance recognized / rewarded with badges and XP.
              </td>
            </tr>
          </table>
          <div class="card-action" align="center">
            <a class="waves-effect waves-light btn light-green" ng-disabled="user.badgestotal == 0" ng-click="nav('includes/student_badges.html')">Details</a>
          </div>
         </div>
      </div>
  </div>
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content">
        <table>
          <tr>
            <td><span class="card-title">Quiz XP</span></td>
            <td class="right"><span class="chip orange white-text" ng-show="user.quiztotal!=0">{{user.quiztotal}}</span></td>
          </tr>
          </table>
          <table>
            <tr>
              <td>
                Quizzes reward good habits and diagnose problems.
              </td>
            </tr>
          </table>
          <div class="card-action" align="center">
            <a class="waves-effect waves-light btn light-green" ng-disabled="user.quiztotal == 0" ng-click="nav('includes/student_quiz.html')">Details</a>
          </div>
          </div>
      </div>
  </div>
</div>
